.red
{
    background-color: red;
    height:250px;
    width:200px;
    border: 2px solid black;
    margin:100px 50px;

}

.blue
{
    background-color:blue;
    height:250px;
    width:150px;
    border: 2px solid black;
    margin: 80px;
}

a {
    
    font-size: 1.5em;
    margin-left: 100px
}

a:link {
    
    color:blue;
    
}
a:visited
{
 color:brown;    
}
a:hover {
    
color:red;
}


